<h1><%= @feed.title %></h1>
<ul>
  <li>Last refreshed: <%= @feed.last_refreshed_at %></li>
  <li>Next refresh: <%= @feed.next_refresh_at %></li>
  <li>Refresh started: <%= @feed.refresh_started_at %></li>
</ul>
<% if @feed.refresh_scheduled? -%>
  <p>Refreshing...</p>
<% else -%>
  <p><%= link_to(feed_refresh_text(@feed), action: :refresh) %></p>
<% end -%>

<ul>
  <% @feed.items.each do |item| -%>
  <li><%= link_to item.title, item %></li>
  <% end -%>
</ul>
